<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <style>
        .card-text {
            word-wrap: break-word;
        }
    </style>
</head>
<body>
<div class="container">
    <h1 th:text="|Products|"></h1>
    <a sec:authorize-url="/products/add" th:href="@{/products/add}" class="btn btn-success" style="color: #ffffff; background-color: #146126;">
        Add Product
    </a>
    <ol class="list-group">
        <li th:each="product : ${page}" class="list-group-item">
            <h5 class="card-title" th:text="|Name: ${product.name} |"></h5>
            <p class="card-text">
                <span th:text="|Barcode: ${product.barcode} |"></span>
                <br>
                <span th:text="|Nutri Score: ${product.nutriScore} |"></span>
                <br>
                <span th:text="|Nova Group: ${product.novaGroup} |"></span>
                <br>
                <span th:text="|Quantity: ${product.quantity} |"></span>
                <br>
                <a th:href="@{/products/{id}/edit(id=${product.id})}" class="btn btn-primary" style="color: #ffffff; background-color: #0a0aff;">
                    Edit
                </a>
            <form th:action="@{/products/{id}(id=${product.id})}" th:method="delete" class="d-inline"
                  onsubmit="return confirm('Are you sure you want to delete this item?')">
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </li>
    </ol>
    <div th:if="${page.totalPages > 1}">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" th:classappend="${page.number == 0} ? 'disabled'">
                    <a class="page-link" th:href="@{/products(page=0, size=${page.size})}" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                <li th:each="pageNumber : ${#numbers.sequence(0, page.totalPages - 1)}"
                    class="page-item"
                    th:classappend="${page.number == pageNumber} ? 'active'">
                    <a class="page-link" th:href="@{/products(pageNumber=${pageNumber}, pageSize=${page.size})}" th:text="${pageNumber + 1}"></a>
                </li>
                <li class="page-item" th:classappend="${page.number == page.totalPages - 1} ? 'disabled'">
                    <a class="page-link" th:href="@{/products(pageNumber=${page.totalPages - 1}, pageSize=${page.size})}">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</body>
</html>
